body, html { background: #f3efe8; }

#loader {
    display: none;
    position: absolute;
    width: 179px;
    height: 87px;
    margin: -43px -89px;
    left: 50%;
    top: 50%;
}

#main {
    display: none;
}
#main ul {
    list-style: none;
}
#main ul.bg li {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}
